@page
@using ExpenseTracker.Services.Interfaces
@inject IExpenseService ExpenseService

<h1>Expenses</h1>
<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expense in await ExpenseService.GetAllExpensesAsync())
        {
            <tr>
                <td>@expense.Description</td>
                <td>@expense.Amount</td>
                <td>@expense.Date.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
